:root {
  --bs-primary-rgb: 153, 33, 251;
  --bs-primary: #9921fb;
  --bs-link-color: #9921fb;
  --theme-color: #f0f0f0;
  --theme-bg: #333;
}
.btn-primary {
  --bs-btn-bg: #9921fb;
  --bs-btn-border-color: #9921fb;
  --bs-btn-disabled-bg: #9921fb;
  --bs-btn-disabled-border-color: #9921fb;
}

.btn-outline-primary {
  --bs-btn-color: #9921fb;
  --bs-btn-border-color: #9921fb;
  --bs-btn-hover-bg: #9921fb;
  --bs-btn-hover-border-color: #9921fb;
  --bs-btn-active-bg: #9921fb;
  --bs-btn-active-border-color: #9921fb;
  --bs-btn-disabled-color: #9921fb;
  --bs-btn-disabled-border-color: #9921fb;
}
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 500ms;
}
html {
  scroll-behavior: smooth;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* Thème sombre */
body.dark-theme {
  background-color: var(--theme-bg);
  color: var(--theme-color);
}

/* Thème clair */
body.light-theme {
  background-color: var(--theme-color);
  color: var(--theme-bg);
}

.formule {
  border: 1px solid var(--theme-bg);
}
.formule:hover {
  border: 1px solid var(--bs-primary);
}
